* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Boot CSS*/
.center-x {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
.center {
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto;
}
.w50 {
  width: 50%;
  padding: 0 2%;
}
.w33 {
  width: 33.3%;
  padding: 0 2%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
/*Estilização do site*/
header {
  background: #3D437A;
  padding: 10px 0;
}
header .logo {
  font-size: 19px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}
header .logo a {
  text-decoration: none;
  color: white;
  font-size: 23px;
}
header nav.desktop ul {
  list-style-type: none;
}
header nav.desktop ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 12px;
}
header nav.desktop ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}
header nav.desktop ul li:hover {
  transform: scale(1.2, 1.2);
}
header nav.mobile {
  display: none;
}
/*FIM DO HEADER*/
section.banner-container {
  position: relative;
  width: 100%;
  height: 600px;
}
section.banner-container .banner-single {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
  background-position: center;
  background-size: cover;
}
section.banner-container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.7);
  z-index: 2;
}
section.banner-container .center form {
  width: 95%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
section.banner-container .center form h2 {
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}
section.banner-container .center form input[type=email] {
  width: 100%;
  height: 66px;
  background-color: white;
  color: #817e7e;
  font-size: 22px;
  border: 0;
  border-radius: 8px;
  padding-left: 8px;
  margin-top: 15px;
  opacity: 0.7;
}
section.banner-container .center form input[type=email]:hover {
  opacity: 1;
}
section.banner-container .center form input[type=email]:focus {
  outline: none;
  opacity: 1;
}
section.banner-container .center form input[type=submit] {
  width: 100%;
  height: 66px;
  margin-top: 10px;
  background: #00c59e;
  color: white;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.7;
}
section.banner-container .center form input[type=submit]:hover {
  opacity: 1;
}
section.banner-container .center .bullets {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
section.banner-container .center .bullets .active-slider {
  background-color: #9ba2df;
  transition: 1s;
}
section.banner-container .center .bullets span {
  margin: 0 7px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #292f63;
}
/*FIM DO BANNER_PRINCIPAL*/
section.descricao-autor {
  padding: 30px 0;
}
section.descricao-autor .center .descricao-autor-box {
  padding: 120px 0px 0px 30px;
}
section.descricao-autor .center .descricao-autor-box h2 {
  font-size: 25px;
  font-weight: 400;
}
section.descricao-autor .center .descricao-autor-box p {
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}
section.descricao-autor .center img {
  width: 100%;
  max-width: 340px;
}
/*FIM DO DESCRICAO_AUTOR*/
section.especialidades {
  padding: 40px 0 60px 0;
  background-color: #ddd9d9;
}
section.especialidades .center {
  text-align: center;
}
section.especialidades .center .title {
  margin-top: 15px;
  font-size: 39px;
  font-weight: 400;
  color: #999;
}
section.especialidades .center .box-especialidades {
  margin-top: 48px;
}
section.especialidades .center .box-especialidades h3:first-of-type {
  color: #404580;
  font-size: 40px;
}
section.especialidades .center .box-especialidades p {
  margin-top: 14px;
  font-size: 15px;
  color: #444;
}
/*FIM DA ESPECIALIDADES*/
section.extras {
  padding: 30px 0;
  background: #404580;
}
section.extras .center .depoimentos-container {
  padding: 10px 30px;
}
section.extras .center .depoimentos-container h3 {
  color: white;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}
section.extras .center .depoimentos-container .depoimento-single {
  padding: 10px 10px;
  border-bottom: 2px solid #2b1875;
}
section.extras .center .depoimentos-container .depoimento-single p.depoimento-descricao {
  font-size: 15px;
  color: #cfcfcf;
  font-weight: 200;
}
section.extras .center .depoimentos-container .depoimento-single p.nome-autor {
  margin-top: 12px;
  font-size: 15px;
  color: white;
  font-weight: bold;
}
section.extras .center .servicos-container {
  padding: 10px 30px;
}
section.extras .center .servicos-container h3 {
  color: white;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}
section.extras .center .servicos-container .servicos ul {
  list-style-position: inside;
  padding: 45px 15px 15px 15px;
}
section.extras .center .servicos-container .servicos ul li {
  margin-top: 25px;
  color: aliceblue;
}
footer {
  padding: 30px 0;
  background: #313462;
}
footer .center p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
/*PAGINA DE ERRO*/
section.erro-404 .center {
  text-align: center;
  padding-top: 300px;
}
section.erro-404 .center h2 {
  font-size: 50px;
}
section.erro-404 .center p {
  font-size: 18px;
  margin-top: 22px !important;
}
section.erro-404 .center a {
  color: #4232d6;
}
footer.fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*FIM DA PAGINA ERROR*/
/*Pagina contato*/
#map {
  width: 70%;
  margin: 90px auto 0px auto;
  height: 400px;
}
.container-contato {
  text-align: center;
  padding: 60px 3% 20px 3%;
}
.container-contato form {
  max-width: 650px;
  margin: 0 auto;
}
.container-contato form input[type=text],
.container-contato form input[type=email],
.container-contato form input[type=number] {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 8px;
  font-size: 15px;
  color: #444;
  margin-bottom: 10px;
}
.container-contato form input[type=text]:focus,
.container-contato form input[type=email]:focus,
.container-contato form input[type=number]:focus {
  outline: none;
}
.container-contato form input[type=submit] {
  width: 100px;
  height: 40px;
  padding: 7px 10px;
  margin: 15px auto;
  border-radius: 10px;
  background-color: #555eb1;
  color: white;
  cursor: pointer;
}
.container-contato form textarea {
  padding: 8px;
  width: 100%;
  height: 100px;
  resize: vertical;
}
.container-contato form textarea:focus {
  outline: none;
}
/*FIM DA PAGINA CONTATO*/
@media screen and (max-width: 768px) {
  header {
    padding: 13px 14px;
  }
  header nav.desktop {
    display: none;
  }
  header nav.mobile {
    display: block;
  }
  header nav.mobile .botao-mobile {
    cursor: pointer;
    font-size: 18px;
    color: white;
    z-index: 5;
  }
  header nav.mobile ul {
    background-color: #555eb1;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    z-index: 4;
    list-style-type: none;
  }
  header nav.mobile ul li {
    padding: 14px 0px;
    text-align: center;
    border-bottom: 2px solid #2b2f55;
    border-left: 2px solid #2b2f55;
    border-right: 2px solid #2b2f55;
  }
  header nav.mobile ul li:first-child {
    border-top: 2px solid #2b2f55;
    border-left: 2px solid #2b2f55;
    border-right: 2px solid #2b2f55;
  }
  header nav.mobile ul li a {
    font-size: 19px;
    color: white;
    text-decoration: none;
  }
  /*FIM DO HEADER*/
  section.descricao-autor .center .descricao-autor-box {
    width: 100%;
    padding: 30px 0px 0px 30px;
  }
  section.descricao-autor .center .w50 {
    width: 100%;
  }
  section.descricao-autor .center .w50 img {
    width: 100%;
    max-width: 340px;
    height: 350px;
    margin-top: 40px;
  }
  /*DESCRICAO-AUTOR*/
  section.extras {
    padding: 30px 0;
    background: #404580;
  }
  section.extras .center .w50 {
    width: 100% !important;
  }
  section.extras .center .depoimentos-container {
    padding: 10px 10px;
  }
  section.extras .center .servicos-container {
    padding: 10px 10px;
  }
  section.extras .center .servicos-container h3 {
    margin-bottom: 8px;
  }
  section.extras .center .servicos-container .servicos ul {
    padding: 15px 15px 15px 15px;
  }
  section.extras .center .servicos-container .servicos ul li {
    margin-top: 20px;
  }
  /*EXTRAS*/
}
/*MEDIA DE 760px*/
@media screen and (max-width: 600px) {
  section.especialidades .center .title {
    font-size: 37px;
  }
  section.especialidades .center .box-especialidades {
    width: 100%;
    padding: 0 3%;
  }
  section.especialidades .center .box-especialidades h3:first-of-type {
    color: #404580;
    font-size: 40px;
  }
  section.especialidades .center .box-especialidades p {
    max-width: 400px;
    margin: 10px auto;
  }
  section.erro-404 .center {
    text-align: center;
    padding-top: 300px;
  }
  section.erro-404 .center h2 {
    font-size: 24px;
  }
  section.erro-404 .center p {
    font-size: 18px;
    margin-top: 22px !important;
  }
  section.erro-404 .center a {
    color: #4232d6;
  }
}
@media screen and (max-width: 400px) {
  section.especialidades .center .title {
    font-size: 27px;
  }
}
